.container {
    width: 1900px;
    height: 890px;
    border: 2px solid black;
    background-color: rgb(196, 255, 255);
}

.head {
    position: absolute;
    top: 225px;
    left: 350px;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: white;
}

.peddle1 {
    position: absolute;
    top: 156px;
    left: 387px;
    width: 75px;
    height: 150px;
    border-radius: 50%;
    background-color: white;
}

.peddle2 {
    position: absolute;
    rotate: -75deg;
    top: 205px;
    left: 325px;
    width: 75px;
    height: 150px;
    border-radius: 50%;
    background-color: white;
}

.eyel {
    position: absolute;
    top: 264px;
    left: 325px;
    width: 20px;
    height: 20px;
    background-color: black;
    border-radius: 50%;
}

.peddle3 {
    position: absolute;
    rotate: 75deg;
    top: 205px;
    left: 455px;
    width: 75px;
    height: 150px;
    border-radius: 50%;
    background-color: white;
}

.eyer {
    position: absolute;
    top: 264px;
    left: 512px;
    width: 20px;
    height: 20px;
    background-color: black;
    border-radius: 50%;
}

.peddle4 {
    position: absolute;
    rotate: 50deg;
    top: 285px;
    left: 335px;
    width: 75px;
    height: 150px;
    border-radius: 50%;
    background-color: white;
}

.peddle5 {
    position: absolute;
    rotate: -50deg;
    top: 285px;
    left: 435px;
    width: 75px;
    height: 150px;
    border-radius: 50%;
    background-color: white;
}

.body {
    position: absolute;
    z-index: 1;
    top: 420px;
    left: 335px;
    width: 175px;
    height: 175px;
    border-radius: 50%;
    background-color: white;
}

.neck {
    position: absolute;
    top: 375px;
    left: 385px;
    width: 75px;
    height: 75px;
    background-color: white;
}

.arml {
    rotate: 50deg;
    position: absolute;
    top: 430px;
    left: 295px;
    width: 15px;
    height: 150px;
    background-color: chocolate;
}

.armr {
    rotate: -50deg;
    position: absolute;
    top: 430px;
    left: 535px;
    width: 15px;
    height: 150px;
    background-color: chocolate;
}

.body2 {
    position: absolute;
    top: 500px;
    left: 325px;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: white;
}