.container {
    /* Holds the Snowogorgon */
    width: 1900px;
    height: 890px;
    border: 2px solid black;
    background-color: rgb(196, 255, 255);
}

.head {
    /* The head of the Snowogorgon */
    position: absolute;
    top: 225px;
    left: 350px;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: white;
}

.peddle1 {
    /* Peddle thing on the top of its head, repeated five times */
    position: absolute;
    top: 156px;
    left: 387px;
    width: 75px;
    height: 150px;
    border-radius: 50%;
    background-color: white;
}

.eyet {
    /* Eyes on the peddle thing, again repeated five times */
    position: absolute;
    top: 175px;
    left: 415px;
    width: 20px;
    height: 20px;
    background-color: black;
    border-radius: 50%;
}

.peddle2 {
    position: absolute;
    rotate: -75deg;
    top: 205px;
    left: 325px;
    width: 75px;
    height: 150px;
    border-radius: 50%;
    background-color: white;
}

.eyel {
    position: absolute;
    top: 264px;
    left: 325px;
    width: 20px;
    height: 20px;
    background-color: black;
    border-radius: 50%;
}

.peddle3 {
    position: absolute;
    rotate: 75deg;
    top: 205px;
    left: 455px;
    width: 75px;
    height: 150px;
    border-radius: 50%;
    background-color: white;
}

.eyer {
    position: absolute;
    top: 264px;
    left: 512px;
    width: 20px;
    height: 20px;
    background-color: black;
    border-radius: 50%;
}

.peddle4 {
    position: absolute;
    rotate: 50deg;
    top: 285px;
    left: 335px;
    width: 75px;
    height: 150px;
    border-radius: 50%;
    background-color: white;
}

.eyeb1 {   
    position: absolute;
    top: 364px;
    left: 340px;
    width: 20px;
    height: 20px;
    background-color: black;
    border-radius: 50%;
}

.peddle5 {
    position: absolute;
    rotate: -50deg;
    top: 285px;
    left: 435px;
    width: 75px;
    height: 150px;
    border-radius: 50%;
    background-color: white;
}

.eyeb2 {   
    position: absolute;
    top: 364px;
    left: 479px;
    width: 20px;
    height: 20px;
    background-color: rgb(0, 0, 0);
    border-radius: 50%;
}

.body {
    /* Body of the Snowogorgon */
    position: absolute;
    z-index: 1;
    top: 420px;
    left: 335px;
    width: 175px;
    height: 175px;
    border-radius: 50%;
    background-color: white;
}

.neck {
    /* Neck of the Snowogorgon */
    position: absolute;
    top: 375px;
    left: 385px;
    width: 75px;
    height: 75px;
    background-color: white;
}

.arml {
    /* The left arm of the Snowogorgon */
    rotate: 50deg;
    position: absolute;
    top: 430px;
    left: 295px;
    width: 15px;
    height: 150px;
    background-color: chocolate;
}

.armr {
    /* The right arm of the Snowogorgon */
    rotate: -50deg;
    position: absolute;
    top: 430px;
    left: 535px;
    width: 15px;
    height: 150px;
    background-color: chocolate;
}

.body2 {
    /* The second half of the body of the Snowogorgon */
    position: absolute;
    top: 500px;
    left: 325px;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: white;
}

.button1 {
    /* The buttons on the body of the Snowgorgon, repeated two more times */
    z-index: 3;
    position: absolute;
    top: 464px;
    left: 410px;
    width: 20px;
    height: 20px;
    background-color: black;
    border-radius: 50%;
}

.button2 {
    z-index: 3;
    position: absolute;
    top: 554px;
    left: 410px;
    width: 20px;
    height: 20px;
    background-color: black;
    border-radius: 50%;
}

.button3 {
    z-index: 3;
    position: absolute;
    top: 644px;
    left: 410px;
    width: 20px;
    height: 20px;
    background-color: black;
    border-radius: 50%;
}